[submodule "import/doctest"]
	path = import/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "import/micropython"]
	path = import/micropython
	url = https://github.com/micropython/micropython.git
